.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-family: "Oswald", sans-serif;
    z-index: 100;
}

.navbar .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .left img {
    height: 55px;
    width: 117px;
}

.navbar .center ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navbar .center ul li {
    text-decoration: none;
    color: #01070d;
    font-weight: 600;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.active {
    padding-bottom: 1px;
    border-bottom: 2px solid #01070d;
}

.navbar .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar .right img {
    height: 25px;
    width: 25px;
}

.contact {
    background-color: #ffc222;
    border: none;
    padding: 12px 22px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}

@media (max-width:900px) {
    .navbar .left img {
        height: 45px;
        width: 97px;
    }
    .navbar .center ul li {
        font-size: 15px;
    }
    .navbar .right img {
        height: 20px;
        width: 20px;
    }
    .contact {
        padding: 10px 20px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .navbar {
        height: 70px;
        border-bottom: 1px solid #ddd;
    }
    .navbar .center ul li {
        display: none;
    }
    .contact {
        padding: 10px 20px;
        font-size: 12px;
    }
    .navbar .right img {
        height: 23px;
        width: 23px;
        padding-top: 2px;
    }
}
