.header {
    display: flex;
    width: 100%;
    height: 650px;
    justify-content: space-around;
    align-items: center;
    background-color: #D225261C;
}

.header-left {
    width: 40%;
    padding-left: 90px;
    margin-bottom: 75px;
    animation: fadeIn 3s;
}

.header-left h2 {
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.header-left p {
    font-size: 18px;
    margin-bottom: 11px;
}

.header-right {
    display: flex;
    width: 50%;
    justify-content: center;
}

.header-right img {
    height: 490px;
    width: 490px;
}
@media (max-width:1100px) {
    .header-right img {
        height: 390px;
        width: 390px;
    }
}
@media (max-width:950px) {
    .header {
        height: 575px;
    }
    .header-left {
        width: 50%;
        padding-left: 50px;
    }

    .header-left h2 {
        font-size: 36px;
    }
    .header-left p {
        font-size: 16px;
    }
    .header-right img {
        height: 320px;
        width: 320px;
    }
    .header-right img {
        height: 365px;
        width: 365px;
    }
}

@media (max-width:750px) {
    .header {
        height: 530px;
    }
    .header-left {
        width: 50%;
        padding-left: 50px;
    }

    .header-left h2 {
        font-size: 30px;
    }
    .header-left p {
        font-size: 12px;
    }

    .header-right img {
        height: 320px;
        width: 320px;
        margin-bottom: 35px;
    }
}

@media (max-width: 640px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .header-left {
        width: 80%;
        padding-left: 0;
        text-align: center;
        margin-bottom: 40px;
    }
    .header-left h2 {
        font-size: 28px;
    }
    .header-left p {
        font-size: 14px;
    }
}
