@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.explore-menu-section {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e0e0e0;
    background-color: rgba(243, 39, 76, 0.01);
}

.explore-menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.explore-menu-section h1 {
    font-family: 'Playball', cursive;
    font-size: 40px;
    font-weight: 800;
    color: #222;
}

.explore-menu p {
    font-size: 17px;
    max-width: 80%;
    color: #555;
    font-weight: 600;
}

.explore-menu-list {
    display: flex;
    margin: 20px 5px;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
} 

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.explore-menu-item img {
    width: max(8vw, 80px);
    border-radius: 50%;
    cursor: pointer;    
}

.explore-menu-item p {
    font-size: max(1.10vw, 15px);
    font-weight: 500;
    color: #747474;
}

.explore-menu hr {
    border: none;
    border-top: 2px solid #e2e2e2;
    margin: 5px 0px;
}

